<h1>Hello there!</h1>
<form method='post' action='/birthday'>
  <label for="name">
    What's your name? </br>
    <input type='text' name='name'>
  </label>

  <input type='submit' value='Submit'>
</form>
