<h1>Hello there!</h1>
<form method='post' action='/birthday'>
  <label for="name">
    What's your name? </br>
    <input type='text' name='name'>
  </label>
  </br>
  <label for="day">
    When's your birthday? </br>
    day?
    <input type='text' name='day'>
  </label>
  <label for="month">
    month?
    <input type='text' name='month'>
  </label>
  <input type='submit' value='Submit'>
</form>
